body {
  font-family: Arial, Helvetica, sans-serif;
}

#one {
  color: salmon;
}

.bob {
  color: sandybrown;
}

div div {
  color: seagreen;
}

div > p {
  color: sienna;
}

div + span {
  background-color: skyblue;
}